

body {
    font-family: "Verdana", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("sources/Full-Hd-Black-Wallpapers-Group-Dark-Wallpaper-Hd\,-Hd-.jpg");
    background-size: cover;
    background-attachment: auto;
    background-repeat: no-repeat;
    
}
/*
body {
    background-image: url("sources/dark-zombie-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    width:fit-content;
}
*/
header  {
    
    background-color: #020202;
    color: #fff;
    text-align: center;
    padding: 20px 0; 
} 
.game {
    
    color:#fff;
}

.game-title {
    text-align:center;
}

.game-info {
    text-align: center;
}

.game-description {
    text-align: center;
}

.intro{
    color: #fff;
    text-align: center; 
    padding-left: 20px; 
}

.header-content h1 {
    justify-content: center;
    color: red;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
    text-align: center;
}


.page-description {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
}


.fa-instagram {
    
    color: white;
  }

 .game-title {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
 }

 .play-button {
    font-size: 20px;
    color: red;
 }


 
 .btn, .btn-link{
 font-family: "Raleway";
 font-weight: 300;
 font-size: 17px;
 color: #ff0000;
 background-color: #4f0000;
 padding: 10px 30px;
 border: solid #000000 2px;
 box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
 border-radius: 34px;
 transition : 1303ms;
 transform: translateY(0);
 display: inline-block;
 flex-direction: row;
 align-items: center;
 cursor: pointer;
 text-transform: uppercase;
 
 }
 
 .btn:hover{
 transition : 1303ms;
 padding: 10px 20px;
 transform : translateY(-0px);
 background-color: #bd1a1a;
 color: #000000;
 border: solid 2px #000000;
 
 }

 
 
.contenedor-de-imagen {
    display: flex;
    justify-content: center;
    align-items: center; 
  
    text-align: center;
    margin: 0 auto;
}

.carousel {
    max-width: 320px;
    max-height: 188px;
    margin: auto;
    display: flex;
}


#imagen {
    height: 168px;
    width: 300px;
    overflow: hidden;
}

#retroceder{
    font-family: Raleway;
    font-weight: 200;
    font-size: 20px;
    color: #ffffff;
    background-color: #000000;
    padding: 9px 18px;
    border: none;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 20px 0px 0px 20px;
    transition : 1360ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    text-transform: lowercase;
    
    }
    
    #retroceder:hover{
        transition : 1360ms;
    padding: 10px 20px;
    transform : translateY(-0px);
    background-color: #595959;
    color: #ffffff;
    border: solid 2px #ffffff;
    
    }

    #avanzar{
        font-family: Raleway;
        font-weight: 200;
        font-size: 20px;
        color: #ffffff;
        background-color: #000000;
        padding: 9px 18px;
        border: none;
        box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
        border-radius: 0px 20px 20px 0px;
        transition : 1360ms;
        transform: translateY(0);
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        text-transform: lowercase;
        
        }
        
        #avanzar:hover{
        transition : 1360ms;
        padding: 10px 20px;
        transform : translateY(-0px);
        background-color: #595959;
        color: #ffffff;
        border: solid 2px #ffffff;
        
        }

        .imagenROTD {
            display: flex;
            justify-content: center;
            align-items: center; 
          
            text-align: center;
            margin: 0 auto;
        }
        