body {
    font-family: "Verdana";
    margin: 0;
    padding: 0;
    background-image: url("sources/Full-Hd-Black-Wallpapers-Group-Dark-Wallpaper-Hd\,-Hd-.jpg");
    background-size: cover;
    background-attachment: auto;
    background-repeat: no-repeat;
    
}

header  {
    
    background-color: #020202;
    color: #fff;
    text-align: center;
    padding: 20px 0; 
} 

.header-content h1 {
    justify-content: center;
    color: red;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
    text-align: center;
}
